{% set active_page = active_page|default("home") -%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pascal VOC App</title>

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
        {% block scripts %} {% endblock %}
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Home</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav mr-auto">
                        <li
                            class="{{ 'nav-item active' if active_page == 'predict' else 'nav-item'}}"
                        >
                            <a class="nav-link" href="/predict">Predict</a>
                        </li>
                        <li
                            class="{{ 'nav-item active' if active_page == 'ranks' else 'nav-item'}}"
                        >
                            <a class="nav-link" href="/ranks">View Ranks</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="jumbotron">
                <h1 class="display-4">{% block jumbo_title %}{% endblock %}</h1>
                <p class="lead">
                    {% block jumbo_subtitle %}{% endblock %}
                </p>
            </div>

            <div id="content" class="container">{% block content %}{% endblock %}</div>
        </div>
    </body>
</html>
