{% extends "layout.html" %}
{% set active_page = "predict"%}

{% block jumbo_title %}
Predict Image
{% endblock %}

{% block jumbo_subtitle %}
Upload an image to obtain it's label predictions and
 corresponding confidence scores<br>
(Only support JPG images)
{% endblock %}

{% block content %}
<div class="row">
    <form class="md-form col-8">
        <div class="file-field">
            <div class="z-depth-1-half mb-4 d-flex justify-content-center">
                <img
                    id="image"
                    src="static/images/placeholder.jpg"
                    class="img-thumbnail"
                    style="height: 450px"
                />
            </div>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="files-addon"
                        >Upload</span
                    >
                </div>
                <div class="custom-file">
                    <input
                        type="file"
                        class="custom-file-input"
                        id="files"
                        aria-describedby="files-addon"
                    />
                    <label
                        id="files-label"
                        class="custom-file-label"
                        for="files"
                        >Choose file</label
                    >
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </form>
    <div class="col-4">
        <button
            id="predict-btn"
            class="btn btn-lg btn-block btn-outline-primary"
            disabled
        >
            Predict
        </button>
        <div
            id="preds" 
            class="d-flex justify-content-center align-items-center"
            style="height: 400px"
        >
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type=text/javascript src="{{
  url_for('static', filename='js/predict.js')
}}"></script>
{% endblock %}
